body{ font-family: 'Poppins', sans-serif;}
.web{ color: orange;}
h1{ font-size: 70px;}

.para{ width: 60%;}
.half {
     text-align-last: left;
       width: 50%;
     margin-left:85px;
     margin-bottom: 150px;}
section{ display: flex;}
.photo img{ display: block;
            height:600px;
            padding: 2%;}

.link-button{ text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 6px;
}
.top-banner{ background-image: url( img/bg/top-banner.png);
         background-repeat:no-repeat; }
.half-tow{ padding-left: 380px;
         width: 40%; }
.photo-tow img{display: block;
    height:550px;
    padding: 2%;} 
.button-resume{  text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 6px;}
.dream{
      margin-left: 85px;
       background-image:url(img/bg/dream-bg.png);
    background-repeat:no-repeat; 
   background-position: right;}
.flexible-container{ display: flex;
    width:50%;
   margin-left: 30px;
  margin-bottom: 150px;
margin-bottom: 150px; }
.full{padding-top: 0px;
     margin-top: 80px;
     text-align: left;
     width: 45%;border-left: 7px solid;
     border-image: linear-gradient(180deg, lightsalmon, tomato);
     border-image-slice: 1; box-shadow: 5px 7px 40px gray;
     height: 87%;}
.babay-web{padding-top: 0px; 
    margin-top:80px ;
    margin-left: 75px;
       width: 45%;border-left: 7px solid;
       border-image: linear-gradient(180deg, lightsalmon,tomato);
       border-image-slice: 1;box-shadow: 5px 7px 40px gray;
       height: 87%;}
 .web-ex{margin-left:40px; 
         color:orange ;}
.experience-area{ 
  background-image:url(img/bg/exp-bg.png) ;
  background-repeat: no-repeat;
  background-position: left;
}

.flexible-container h3{ color: orange;}
.web-foot{ text-align: center;}